<div class='table'>
  <div class="inline" id="obj1">
    <button id="option">
      option
    </button>

    <div id="quantity">

      <label for="quantity-input"> Quantity </label>
      <input  id="quantity-input" type="text"
        name="quantity" value="">
      <br>
    </div>
  </div>
  <div class="inline" id="obj2">
    <div id="toggle">

    </div>
  </div>
  <div class="inline" id="obj3">

  </div>
</div>
