<% var option %>
<div class='table'>
  <div class="inline" id="obj1">
    <button id="option">
      option
    </button>

    <div id="quantity">
      <form name="myForm" action="/" method="post" onsubmit="return validateForm()">
      <label for="quantity-input"> Quantity </label>
      <input  id="quantity-input" type="number"
        name="quantity">

      <br>
    </div>
  </div>
  <div class="inline" id="obj2">
    <div id="toggle">

      <select id ="selector" name="optionSelector">
        <option value="none">Select A/B</option>
        <option name="optionA" value="optionA">A</option>
        <option name="optionB" value="optionB">B</option>
      </select>
      <button class="submit"> Submit</button>
    </form>
    </div>
  </div>
  <div class="inline" id="obj3">
    <% if (option === "none") { %>
      <% for (i=0; i<input; i++) { %>
          <div class="items">
            Item   <%= +i+1 %>
          </div>
        <% } %>
    <%  } %>
    <% if (option === "optionA") { %>
      <% for (i=0; i<input; i++) { %>
          <div class="items">
            Item  A <%= +i+1 %>
          </div>
        <% } %>
    <%  } %>
    <% if (option === "optionB") { %>
      <% for (i=0; i<input; i++) { %>
          <div class="items">
            Item  B <%= +i+1 %>
          </div>
        <% } %>
    <%  } %>
  </div>
    <div style="text-align:center;">
    <input type="button" id="first" onclick="firstPage()" value="first" />
    <input type="button" id="next" onclick="nextPage()" value="next" />
    <input type="button" id="previous" onclick="previousPage()" value="previous" />
    <input type="button" id="last" onclick="lastPage()" value="last" />

    <div id="list"></div>
    </div>

</div>
